fastapi==0.115.12
faiss-cpu==1.11.0
ipykernel==6.29.5
ipython==9.2.0
matplotlib==3.10.1
nltk==3.9.1
numpy==2.2.5
openai==1.77.0
pandas==2.2.3
pydantic==2.11.4
python-dotenv==1.1.0
scikit-learn==1.6.1
seaborn==0.13.2
sentence-transformers==4.1.0
tqdm==4.67.1
uvicorn==0.34.2
